body {
    font-family: Arial, sans-serif;
    background-color: #d4b6b6;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
    background-size: cover;
    background-image: url('/static/images/box1.jpg');
    
}

.registration-container {
    background-color: #beadad;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    max-width: 400px;
    width: 90%;
    text-align: left;
    background-image: url('/static/images/box2.jpg');
}

.brand-text {
    font-size: 20px;
    color: #0d591f;
    text-align: left;
    margin-left: 10px;
    margin-top: 10px;
    font-weight: bold;
    font-style: italic; /* Italic style */
}

.registration-container h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.registration-form {
    display: flex;
    flex-direction: column;
}

.form-input {
    margin: 10px 0;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    width: 100%;
}

.register-button {
    background-color: #4158d0;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 12px 0;
    font-size: 18px;
    cursor: pointer;
    margin-top: 10px;
}

.register-button:hover {
    background-color: #3146a7;
}

.error-message {
    color: red;
    font-size: 14px;
    margin-top: 5px;
}

.login-link {
    font-size: 16px;
    margin-top: 10px;
}

@media screen and (max-width: 480px) {
    .registration-container {
        width: 100%;
    }
}