{% load static %}
<!DOCTYPE html>
<html lang="en">
<!-- Basic -->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Site Metas -->
    <title>Pulse</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Site Icons -->
    <link rel="shortcut icon" href="{% static 'images/favicon.ico'%}" type="image/x-icon">
    <link rel="apple-touch-icon" href="{% static 'images/apple-touch-icon.png'%}">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css'%}">
    <!-- Site CSS -->
    <link rel="stylesheet" href="{% static 'css/style.css'%}">
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="{% static 'css/responsive.css' %}">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'css/custom.css'%}">

    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>

<body>
<style>
         .b2{
            background-color:#000000;
            color: #ffffff;
           float:right;
           border-radius: 12px;
           border: none;
           font-weight: bold;
        }
        .b1{
            float:right;
            background-color:#000000;
            color: #ffffff;
            border-radius: 12px;
            border: none;
            font-weight: bold;
        }
          
        .welcome-message {
            text-align: right;
            color: white;
        }
        .cart-icon {
            position: relative;
            display: inline-block;
        }
        
        .cart-count {
            position: absolute;
            top: -8px; 
            right: -8px; 
            background-color: red;
            color: white;
            border-radius: 50%;
            width: 20px;
            height: 20px;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 12px;
        }
        
        
</style>
    <!-- Start Main Top -->
    <div class="main-top">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
					
                    <!--<div class="right-phone-box">
                        <p>Call US :- <a href="#"> +11 900 800 100</a></p>
                    </div>
                    <!--<div class="our-link">
                        <ul>
                            <li><a href="#"><i class="fa fa-user s_color"></i> My Account</a></li>
                            <li><a href="#"><i class="fas fa-location-arrow"></i> Our location</a></li>
                            <li><a href="#"><i class="fas fa-headset"></i> Contact Us</a></li>
                        </ul>
                    </div>-->
                </div>
                {% comment %} <p>{{ user.username }}</p> {% endcomment %}
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <h6 class="welcome-message">Welcome,{% if user.is_authenticated %}{{ user.username }}
                    {% endif %}
                    <br><br>
                    <a href="{% url 'logout' %}" class="float-right"><img src="{% static 'images/logout2.png' %}" alt="Logout" class="logout-icon" style="margin-right: 10px;"></a>
                    <a href="{% url 'profile' %}" class="float-right" style="margin-right: 10px;"><img src="{% static 'images/profile3.jpg' %}" alt="profile" class="profilr-icon"></a>
                    
                </div>
					<!--<div class="login-box">
						<--<select id="basic" class="selectpicker show-tick " data-placeholder="Sign In">
							<option>Register Here</option>
							<option>Sign In</option>
						</select>
					</div>
                    <!--<div class="text-slid-box">
                        <div id="offer-box" class="carouselTicker">
                            <ul class="offer-box">
                                <li>
                                    <i class="fab fa-opencart"></i> 20% off Entire Purchase Promo code: offT80
                                </li>
                                <li>
                                    <i class="fab fa-opencart"></i> 50% - 80% off on Vegetables
                                </li>
                                <li>
                                    <i class="fab fa-opencart"></i> Off 10%! Shop Vegetables
                                </li>
                                <li>
                                    <i class="fab fa-opencart"></i> Off 50%! Shop Now
                                </li>
                                <li>
                                    <i class="fab fa-opencart"></i> Off 10%! Shop Vegetables
                                </li>
                                <li>
                                    <i class="fab fa-opencart"></i> 50% - 80% off on Vegetables
                                </li>
                                <li>
                                    <i class="fab fa-opencart"></i> 20% off Entire Purchase Promo code: offT30
                                </li>
                                <li>
                                    <i class="fab fa-opencart"></i> Off 50%! Shop Now 
                                </li>
                            </ul>
                        </div>
                    </div>-->
                </div>
            </div>
        </div>
    </div>
    <!-- End Main Top -->

    <!-- Start Main Top -->
    <header class="main-header">
        <!-- Start Navigation -->
        <nav class="navbar navbar-expand-lg navbar-light bg-light navbar-default bootsnav">
            <div class="container">
                <!-- Start Header Navigation -->
                <div class="navbar-header">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-menu" aria-controls="navbars-rs-food" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fa fa-bars"></i>
                </button>
                    <a class="navbar-brand" href="{% static 'index.html'%}"><img src="{% static '/images/pllogo.jpg'%}" class="logo" alt=""></a>
                </div>
                <!-- End Header Navigation -->

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="navbar-menu">
                    <ul class="nav navbar-nav ml-auto" data-in="fadeInDown" data-out="fadeOutUp">
                        <li class="nav-item active"><a class="nav-link" href="{% url 'index' %}">Home</a></li>
                        {% comment %} <li class="nav-item"><a class="nav-link" href="{% url 'about'%}">BOTANIST</a></li> {% endcomment %}
                        <li class="dropdown">
                            <a href="#" class="nav-link " data-toggle="dropdown">CATEGORIES</a>
                            <ul class="dropdown-menu">
                                <li class="dropdown">
                                    <a href="#" class="nav-link" data-toggle="dropdown">PLANTS</a>
                                    <ul class="dropdown-menu">
                                        {% comment %} <li><a href="{% url 'plants' %}">All Plants</a></li> {% endcomment %}
                                        <li><a href="{% url 'flowering_plants' %}">Flowering Plants</a></li>
                                        <li><a href="{% url 'medicinal_plants' %}">Medicinal Plants</a></li>
                                    </ul>
                                </li>
                                
                                <li class="dropdown">
                                    <a href="#" class="nav-link" data-toggle="dropdown">FERTILIZER & PESTICIDE</a>
                                    <ul class="dropdown-menu">
                                        {% comment %} <li><a href="{% url 'index' %}">All Fertilizer & Pesticide</a></li> {% endcomment %}
                                        <li><a href="{% url 'organic' %}">Organic </a></li>
                                        <li><a href="{% url 'inorganic' %}">inorganic</a></li>
                                    </ul>
                                </li>
                                
                                <li class="dropdown">
                                    <a href="#" class="nav-link" data-toggle="dropdown">SEED</a>
                                    <ul class="dropdown-menu">
                                        {% comment %} <li><a href="{% url 'index' %}">All Seeds</a></li> {% endcomment %}
                                        <li><a href="{% url 'vegetable_seed' %}">Vegetable Seeds</a></li>
                                        {% comment %} <li><a href="{% url 'flowering_seed' %}">Flowering Seeds</a></li> {% endcomment %}
                                    </ul>
                                </li>
                                
                                {% comment %} <li><a href="{% url 'plants' %}">PLANTS</a></li>
								<li><a href="fer.html">FERTILIZER & PECTICIDE</a></li>
                                <li><a href="seed.html">SEED</a></li>
                                <li><a href="acc.html">ACCESSORIES</a></li> {% endcomment %}

								{% comment %} <li><a href="shop.html">Sidebar Shop</a></li>
								<li><a href="shop-detail.html">Shop Detail</a></li>
                                <li><a href="cart.html">Cart</a></li>
                                <li><a href="checkout.html">Checkout</a></li>
                                <li><a href="my-account.html">My Account</a></li>
                                <li><a href="wishlist.html">Wishlist</a></li> {% endcomment %}
                            </ul>
                        </li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'botanist'%}">BOTANIST</a></li>
                        {% comment %} <li class="nav-item"><a class="nav-link" href="gallery.html">Gallery</a></li> {% endcomment %}
                        <li class="nav-item"><a class="nav-link" href="{% url 'horti'%}">HORTICULTURE EXPERT</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'service_request_form'%}">SERVICES</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'view_cart'%}"><img src="{% static 'images/cart99.jpg' %}" alt="profile" class="profilr-icon"></a></li>
                        
                        <li class="nav-item"><a class="nav-link" href="{% url 'wish'%}"><img src="{% static 'images/love5.png' %}" alt="profile" class="profilr-icon"></a></li>
                    </ul>
                </ul>
                </div>
                <!-- /.navbar-collapse -->

                <!-- Start Atribute Navigation -->
                {% comment %} <div class="attr-nav">
                    <ul>
                        ?<li class="search"><a href="#"><i class="fa fa-search"></i></a></li> {% endcomment %}
                        {% comment %} <li class="side-menu">
							 <a href="{% url 'view_cart' %}">
                                
								<i class="fa fa-shopping-bag"></i>
								<span class="badge">3</span>  
								<p>My Cart</p>
							</a> 
                            
                    </ul>
                </div>  {% endcomment %}
            <!-- End Atribute Navigation 
            </div>
            <!-- Start Side Menu -->
            <div class="side">
                <a href="#" class="close-side"><i class="fa fa-times"></i></a>
                <li class="cart-box">
                    <ul class="cart-list">
                        <li>
                            <a href="#" class="photo"><img src="{% static '/images/img-pro-01.jpg' %}" class="cart-thumb" alt="" /></a>
                            <h6><a href="#">Delica omtantur </a></h6>
                            <p>1x - <span class="price">$80.00</span></p>
                        </li>
                        <li>
                            <a href="#" class="photo"><img src="{% static '/images/img-pro-02.jpg' %}" class="cart-thumb" alt="" /></a>
                            <h6><a href="#">Omnes ocurreret</a></h6>
                            <p>1x - <span class="price">$60.00</span></p>
                        </li>
                        <li>
                            <a href="#" class="photo"><img src="{% static '/images/img-pro-03.jpg' %}" class="cart-thumb" alt="" /></a>
                            <h6><a href="#">Agam facilisis</a></h6>
                            <p>1x - <span class="price">$40.00</span></p>
                        </li>
                        <li class="total">
                            <a href="#" class="btn btn-default hvr-hover btn-cart">VIEW CART</a>
                            <span class="float-right"><strong>Total</strong>: $180.00</span>
                        </li>
                    </ul>
                </li>
            </div>
            <!-- End Side Menu -->
        </nav>
        <!-- End Navigation -->
    </header>
    <!-- End Main Top -->

    <!-- Start Top Search -->
    <div class="top-search">
        <div class="container">
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-search"></i></span>
                <input type="text" class="form-control" placeholder="Search">
                <span class="input-group-addon close-search"><i class="fa fa-times"></i></span>
            </div>
        </div>
    </div>
    <!-- End Top Search -->

    <!-- Start Slider -->
    <div id="slides-shop" class="cover-slides">
        <ul class="slides-container">
            <li class="text-center">
                <img src="{% static '/images/bck2.jpg' %}" alt="">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <h1 class="m-b-20"> PlantPulse</strong></h1>
                            <p class="m-b-40"><i>Every Plant Has a Heartbeat.</i></p>
                            {% comment %} <p><a class="btn hvr-hover" href="#">Shop New</a></p> {% endcomment %}
                        </div>
                    </div>
                </div>
            </li>
            <li class="text-center">
                <img src="{% static '/images/bck1.jpg' %}" alt="">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <h1 class="m-b-20"> PlantPulse</strong></h1>
                            <p class="m-b-40"><i>Elevate your space with the power of green.</i></p>
                            {% comment %} <p><a class="btn hvr-hover" href="#">Shop New</a></p> {% endcomment %}
                        </div>
                    </div>
                </div>
            </li>
            <li class="text-center">
                <img src="{% static '/images/bck7.jpg' %}" alt="">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <h1 class="m-b-20"> PlantPulse</strong></h1>
                            <p class="m-b-40"><i>Greening Your World, One Plant Pulse at a Time.</i></p>
                            {% comment %} <p><a class="btn hvr-hover" href="#">Shop New</a></p> {% endcomment %}
                        </div>
                    </div>
                </div>
            </li>
        </ul>
        <div class="slides-navigation">
            <a href="#" class="next"><i class="fa fa-angle-right" aria-hidden="true"></i></a>
            <a href="#" class="prev"><i class="fa fa-angle-left" aria-hidden="true"></i></a>
        </div>
    </div>
    <!-- End Slider -->

    <!--<!-- Start Categories  -->
    <!--<div class="categories-shop">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <div class="shop-cat-box">
                        <img class="img-fluid" src="images/categories_img_01.jpg" alt="" />
                        <a class="btn hvr-hover" href="#">Lorem ipsum dolor</a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <div class="shop-cat-box">
                        <img class="img-fluid" src="images/categories_img_02.jpg" alt="" />
                        <a class="btn hvr-hover" href="#">Lorem ipsum dolor</a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <div class="shop-cat-box">
                        <img class="img-fluid" src="images/categories_img_03.jpg" alt="" />
                        <a class="btn hvr-hover" href="#">Lorem ipsum dolor</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Categories -->

        <!-- Start Footer  -->
        <footer>
            <div class="footer-main">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-4 col-md-12 col-sm-12">
                            <div class="footer-top-box">
                                <h3>Consultation Time</h3>
                                <ul class="list-time">
                                    <li>Monday - Friday: 08.00am to 05.00pm</li> <li>Saturday: 10.00am to 08.00pm</li> <li>Sunday: <span>Closed</span></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-12 col-sm-12">
                            <div class="footer-top-box">
                                <h3>Suggestion</h3>
                                <form class="newsletter-box">
                                    <div class="form-group">
                                        <input class="" type="email" name="Email" placeholder="Email Address*" />
                                        <i class="fa fa-envelope"></i>
                                    </div>
                                    <button class="btn hvr-hover" type="submit">Submit</button>
                                </form>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-12 col-sm-12">
                            <div class="footer-top-box">
                                <h3>Social Media</h3>
                                {% comment %} <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p> {% endcomment %}
                                <ul>
                                    <li><a href="#"><i class="fab fa-facebook" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fab fa-twitter" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fab fa-linkedin" aria-hidden="true"></i></a></li>
                                    {% comment %} <li><a href="#"><i class="fab fa-google-plus" aria-hidden="true"></i></a></li> {% endcomment %}
                                    {% comment %} <li><a href="#"><i class="fa fa-rss" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fab fa-pinterest-p" aria-hidden="true"></i></a></li> {% endcomment %}
                                    <li><a href="#"><i class="fab fa-whatsapp" aria-hidden="true"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-lg-4 col-md-12 col-sm-12">
                            <div class="footer-widget">
                                <h4>About PlantPulse</h4>
                                <p>Plantpulse is an innovative web based forum that can facilitate plant enthusiasts like gardeners, product purchasers and experts</p> 
                                <p> </p> 							
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-12 col-sm-12">
                            <div class="footer-link">
                                <h4>Information</h4>
                                <ul>
                                    <li><a href="#">About Us</a></li>
                                    <li><a href="#">Customer Service</a></li>
                                    {% comment %} <li><a href="#">Our Sitemap</a></li> {% endcomment %}
                                    <li><a href="#">Terms &amp; Conditions</a></li>
                                    <li><a href="#">Privacy Policy</a></li>
                                    <li><a href="#">Delivery Information</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-12 col-sm-12">
                            <div class="footer-link-contact">
                                <h4>Contact Us</h4>
                                <ul>
                                    {% comment %} <li>
                                        <p><i class="fas fa-map-marker-alt"></i>Address: Michael I. Days 3756 <br>Preston Street Wichita,<br> KS 67213 </p>
                                    </li> {% endcomment %}
                                    <li>
                                        <p><i class="fas fa-phone-square"></i>Phone: <a href="tel:+1-888705770">+1-888 705 770</a></p>
                                    </li>
                                    <li>
                                        <p><i class="fas fa-envelope"></i>Email: <a href="plantpulse4u@gmail.com">plantpulse4u@gmail.com</a></p>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!-- End Footer  -->
    
        <!-- Start copyright  -->
        <div class="footer-copyright">
            <p class="footer-company">All Rights Reserved. &copy; 2023 <a href="#">PlantPulse</a> Design By :
                <a href="https://html.design/">html design</a></p>
        </div>
        <!-- End copyright  -->
    
        <a href="#" id="back-to-top" title="Back to top" style="display: none;">&uarr;</a>
    
        <!-- ALL JS FILES -->
        <script src="{% static 'js/jquery-3.2.1.min.js'%}"></script>
        <script src="{% static 'js/popper.min.js'%}"></script>
        <script src="{% static 'js/bootstrap.min.js'%}"></script>
        <!-- ALL PLUGINS -->
        <script src="{% static 'js/jquery.superslides.min.js'%}"></script>
        <script src="{% static 'js/bootstrap-select.js'%}"></script>
        <script src="{% static 'js/inewsticker.js'%}"></script>
        <script src="{% static 'js/bootsnav.js.'%}"></script>
        <script src="{% static 'js/images-loded.min.js'%}"></script>
        <script src="{% static 'js/isotope.min.js'%}"></script>
        <script src="{% static 'js/owl.carousel.min.js'%}"></script>
        <script src="{% static 'js/baguetteBox.min.js'%}"></script>
        <script src="{% static 'js/form-validator.min.js'%}"></script>
        <script src="{% static 'js/contact-form-script.js'%}"></script>
        <script src="{% static 'js/custom.js'%}"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    
    </body>
    
    </html>

    