{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
	
    <link rel="stylesheet" href="{% static 'css/login.css'%}">
    </head>
    <body>
        <div class="login-container">
            <!--<div class="brand-text">PlantPulse</div>-->
            <h2>Login</h2>
            <form class="login-form" action="#" method="POST" onsubmit="return validateForm()">
        {% csrf_token %}
        <input class="form-input" type="text" name="username" id="username" placeholder="Username" required>
        <span class="username-error" id="username-error"></span>
        <input class="form-input" type="password" name="password" id="password" placeholder="Password" required>
        <span class="password-error" id="password-error"></span>
        <button class="login-button" type="submit">Login</button>
    </form>
        </form>
        <p class="forgot-password"><a href="#">Forgot your password?</a></p>
        <p class="registration-link">Don't have an account? <a href="{% url 'registration'%}">Register here</a></p>
    </div>
    <script>
        function validateForm() {
            var username = document.getElementById('username').value;
            var password = document.getElementById('password').value;
            var usernameRegex = /^[a-zA-Z]{6,}$/; // Username should be 6 or more alphabetic characters
            var passwordRegex = /^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@#$%^&!*])[A-Za-z\d@#$%^&!*]{6,}$/; // Password requirements

            // Get error message elements
            var usernameError = document.getElementById('username-error');
            var passwordError = document.getElementById('password-error');

            // Reset previous error messages
            usernameError.textContent = "";
            passwordError.textContent = "";

            // Perform validation
            var isValid = true;

            if (!username.match(usernameRegex)) {
                usernameError.textContent = "Username must be 6 or more alphabetic characters.";
                isValid = false;
            }

            if (!password.match(passwordRegex)) {
                passwordError.textContent = "Password should be at least 6 characters long and contain one uppercase letter, one lowercase letter, one digit, and one special character.";
                isValid = false;
            }

            return isValid;
        }
    </script>

</body>
</html>