<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User List</title>
    <!-- Bootstrap CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
        .header,
        .footer {
            background-color: #21421e;
            color: #fff;
            padding: 10px 0;
            text-align: center;
        }
    </style>
</head>
<body>
    <div class="header">
        <h1>User List</h1>
        <a href="{% url 'regibot'%}" class="btn btn-light" style="position: absolute; top: 4px; right: 20px;">Back</a>

    </div>

    <div class="container">
        <table class="table table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th>Username</th>
                    <th>Specification</th>
                    <th>Phone Number</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for botprofile in botprofiles %}
                <tr>
                    <td>{{ botprofile.user.username }}</td>
                    <td>{{ botprofile.specification }}</td>
                    <td>{{ botprofile.phone_number }}</td>
                    <td>
                        <form action="{% url 'delete_user' botprofile.user.username %}" method="post">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-danger">Delete</button>
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    {% comment %} <div class="footer">
        <p>&copy; 2024 Your Company</p>
    </div> {% endcomment %}

    <!-- Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
